*{
    margin: 0px;
}
body {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
}
header {
  width: 100vw;
  height: 20vh;
  background-color: rgb(44, 136, 105);
  display: flex;
  align-items: center;
}
h1 {
  margin-left: 10%;
  font-size: 3rem;
  color: antiquewhite;
}
main {
  height: 80vh;
  width: 100vw;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
}
section {
  height: 80%;
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-top: 5%;
}

.input-container {
  height: 25%;
  display: flex;
  flex-direction: column;
}
.input-container > input {
  border: 1px solid maroon;
  border-radius: 4px;
  width: 70%;
  height: 25%;
}

.terms-label {
  font-size: 0.8rem;
}

p {
  font-size: 0.65rem;
  color: rgb(133, 8, 8);
}
button {
  width: 160px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: aqua;
  color: maroon;
  margin: 10px;
  font-size: 1.3rem;
}

/* After successfull signup */
.success-fill {
  margin: auto;
  width: 60%;
  height: 60%;
  text-align: center;
  font-size: 2.5rem;
  color: rgb(107, 45, 165);
}
